@import url('index.css');

.map-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
}


.map-block__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.map-block__head-link {
    color: var(--main-color);
    font-size: 18px;
}